
/* <![CDATA[ */
.edit_error_class {
  display: block;
  color: red;
}

.sidebar ul {
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
}


.sidebar ul li {
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #ccc;
	border-bottom:none;
}

.sidebar ul li a {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li span {
	display:block;
	padding:3px;
	text-indent:30px;
	text-decoration:none;
}

.sidebar ul li a:hover {
	background-color: #eee;
}

.hoge {
  color : red;
  background-color: #ffaa00;
}

.fieldGroup {
  border : 1px solid #333333;
  background-color: #EAF4DF;
  margin : 10px;
}
.fieldGroup div {
  padding-left: 20px;
}
.fieldGroup div .label{
  padding-right : 10px;
}

.large-image{
  width : 320px;

}
.small-image{
  width : 100px;
  height: 100px;
}

#photo-comment {
  width : 300px;
  height: 100px;
}

.photo-element {
  width:100%;
}

.photo-element > .img {
  width:100px;
  float:left;
}
.photo-element > .desc {
  width:300px;
  float:left;
}

.photo-element > .operation {
  float:left;
}

.photo-element > .clear {
  clear:both;
}




